<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, {TITLE}</title>
    <style>
        body {
            letter-spacing: 1px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <p>
        Sending email to <i>{RECIPIENT_EMAIL}</i>,
    </p>
    
    <br>

    <p>
        When using curly bracket you need to replace all in array by using <b>templateLookAndReplace</b> variable
    </p>
</body>
</html>
